{% extends 'pywims_exos/layout_appli.html' %}
{% load input_fields %}

{% block contenu %}
<script>
$( document ).ready(function(){
	if(window.top != window.self) {
		$('#home-link').remove();
	}
});
</script>

<div class = 'titre'>
	<h1>PyWims, énoncé</h1>
	<a id='home-link' href="/" class="glyph"><span class="glyphicon glyphicon-home"></span></a>
</div>

<div class='exo'>
	<form action="{% url 'corrige_exo' pk=pk %}" id = "form_exo" method="post" autocomplete = "off">
		<div class='form-enonce'>
			{% block enonce_exo %}{% endblock %}
		</div>

		<div class = validation-enonce> <input class = 'input' type=submit value=Valider> </div>
	</form>
</div>
{% endblock %}
