{% extends 'pywims_exos/layout_appli.html' %}
{% load json_filter %}
{% load static %}


{% block contenu %}
<script type="text/javascript" src="https://cdn.geogebra.org/apps/deployggb.js"></script>
<script type="text/javascript">
	var parameters = {
		"prerelease":false,
		"width":600,
		"height":400,
		"showToolBar":false,
		"borderColor":"#FFFFFF",
		"showMenuBar":false,
		"showAlgebraInput":false,
 		"showResetIcon":false,
//		"enableLabelDrags":false,
		"enableShiftDragZoom":true,
		"enableRightClick":false,
		"capturingThreshold":null,
		"showToolBarHelp":false,
 		"errorDialogsActive":true,
//		"useBrowserForJS":true,
//		"filename":"{{ ggb_file.url }}"
		"ggbBase64": "{{ ggb_applet_state}}"
	};

	parameters.appletOnLoad = function() {
	}
	var applet = new GGBApplet('5.0', parameters);
	function ggbSubmit() {
	}

	//when used with Math Apps Bundle, uncomment this:
	//applet.setHTML5Codebase('GeoGebra/HTML5/5.0/webSimple/');

$( document ).ready(function(){ // enlève le bouton 'Home' si l'exo est inclus dans une autre page
	if(window.top != window.self) { // il faudrait probablement faire ça autrement
		$('#home-link').remove();
	}
	applet.inject('ggb_applet_container', 'preferHTML5');
});
</script>

<div class = 'titre'>
	<h1>PyWims, Corrigé</h1>
	<a id='home-link' href="/" class="glyph"><span class="fa fa-home"></span></a>
</div>

<div id='ggb_applet_container'>
</div>


<div class='exo'>
	<form action="{% url 'run_exo' pk=pk %}"
				id = "form_exo"
				method="post"
				autocomplete = "off">
		<div class='form-enonce'>
			{% block enonce_exo %}{% endblock %}
		</div>

		<div class = validation-enonce> <input class = 'input' type=submit value=Recommencer> </div>
	</form>

	<div class='feedback'>
		{% block feedback %}{% endblock %}
	</div>
</div>
{% endblock %}
