 <meta charset="utf-8">
 <html>
<head>
<title>Essai Geogebra</title>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true,
    },
    menuSettings: { inTabOrder : false }
  });
</script>

<script type="text/javascript"
src="https://cdn.rawgit.com/mathjax/MathJax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<script type="text/javascript" src="http://www.geogebratube.org/scripts/deployggb.js"></script>

<script>
$( document ).ready(function(){
  var applet = new GGBApplet({filename: "trois ensembles.ggb", width:500, height:500}, true);
  applet.inject('applet_container1', 'preferHTML5');

 $( "#bouton" ).click(function() {
   document.ggbApplet.evalCommand('dansA = IsInRegion[P,A]');
   var dansA = document.ggbApplet.getValue('dansA');
   document.ggbApplet.evalCommand('dansB = IsInRegion[P,B]');
   var dansB = document.ggbApplet.getValue('dansB');
   document.ggbApplet.evalCommand('dansC = IsInRegion[P,C]');
   var dansC = document.ggbApplet.getValue('dansC');
   if (dansB && dansC && !dansA) $( "#resultat" ).html('Bravo !!');
   else $( "#resultat" ).html('Raté :(');
  });
});
</script>



</head>

<body>

Dans la figure ci-dessous, déplacez le point $P$ dans la région $(B\cap C)\setminus A$, puis appuyez
<button style = 'border : 1 px solid black' type="button" id = 'bouton'> Ici </button>

<div id="applet_container1" style = 'border:1px solid red'></div>

<button style = 'border : 1 px solid black' type="button" id = 'resultat'> Résultat </button>


</body>
