{% load json_filter %}
<!-- hidden input declares the matrix so it can be later populated -->
<input type = 'hidden' id = 'form_dec_{{ name }}' value = '{{ matrix|tojson }}'/> 
<table class="matrix">
{% for line in matrix %}
<tr>
    {% for element in line %}
    <td>
        <input class='input_matrix absolute' id ='form_txt_{{ name }}[{{forloop.parentloop.counter0}}][{{forloop.counter0}}]' 
        value = '{{ element|default_if_none:"" }}' style='{{ style_cell }}'/>
        <!-- Phantom prevents animations from disrupting page layout -->
        <input class='input_matrix phantom' id ='phantom_txt_{{ name }}[{{forloop.parentloop.counter0}}][{{forloop.counter0}}]' style='{{ style_cell }}' disabled = 'disabled'/>
    </td>
    {% endfor %}
</tr>
{% endfor %}
</table>