<!-- Phantom prevents animations from disrupting page layout -->
<span style = 'display:inline-block;'>
<select class = 'input absolute' id = 'form_sel_{{ name }}' style = '{{ style }}'>
	 {% for item in liste %}
		 <option value='{{ item }}'> {{ item }} </option>
	 {% endfor %}
</select>
<select class = 'input phantom' id = 'phantom_sel_{{ name }}'  style = '{{ style }}' disabled = 'disabled'>
	 {% for item in liste %}
		 <option value='{{ item }}'> {{ item }} </option>
	 {% endfor %}
</select>
</span>

