{% if drop_it == True %}
	{% if is_ok == True %}
		<div class = 'cibleOk' id = '{{ name }}' style = '{{style_boite}}'> <span> {{ display }} </span> </div>
	{% else %}
		<div class = 'cibleNotOk' id = '{{ name }}' style = '{{style_boite}}'> <span> {{ display }} </span> </div>
	{% endif %}
	<script>
		document.getElementById("{{ name }}").appendChild(document.getElementById('{{ origin }}'));
	</script>
{% else %}
	<div class = 'cible' id = '{{ name }}' style = '{{style_boite}}'> <span> {{ display }} </span> </div>
{% endif %}
