{% extends "pywims_exos/layout_appli.html" %}
{% load json_filter %}
{% block contenu  %}

 <!--This is a comment. Comments are not displayed in the browser-->

 <script src="https://ajaxorg.github.io/ace-builds/src/ace.js" type="text/javascript" charset="utf-8"></script>
 <script>
 $( document ).ready(function(){
 var editor = ace.edit("editeur");
 var status = {{ status|tojson }};
 console.log(status);
 editor.setTheme("ace/theme/tomorrow");
 editor.getSession().setMode("ace/mode/"+ status.langage);
 editor.getSession().setUseWrapMode(true);
 editor.getSession().setValue(status.exo[status['current_code']]);
 document.getElementById('editeur').style.fontSize='14px';
 editor.setAutoScrollEditorIntoView(true);
 editor.resize();

 $( "#"+status['current_code']+"_button").attr('class', 'onglet-sel');

 $( "#form_exo").submit(function( event ) {
   event.preventDefault();
 });

 $( "#preview_button, #save_button, #save_as_button" ).click(function() {
   status.exo[status['current_code']] = editor.getValue();status.exo['enonce']
   console.log(status.exo['enonce'])
   // on enlève '_button' au nom du bouton pour obtenir l'action requise
   status['requested_action'] = this.id.slice(0, -7);
   if (status['requested_action'] == 'save_as') {
     status['title'] = window.prompt("Nom du nouvel exo ?","nouvel_exo");
     if (status['title'] == null)  status['requested_action'] = 'canceled';
   }
   $.ajax({
     type : "POST",
     url : "{% url 'dev_exo' pk=pk %}",
     data: JSON.stringify(status, null, '\t'),
     contentType: 'application/json;charset=UTF-8',
     success: function(returned_status) {
       status = returned_status
       if ((status['requested_action'] == 'preview') || (status['requested_action'] == 'save_as'))
       document.getElementById('frame_exo').contentWindow.location.reload();
       $( "#echo_button" ).html(status['echo']);
     }
   });
 });
 $( "#avant_button, #apres_button, #enonce_button, #reponse_button" ).on( "click", function() {
   $( "#"+status['current_code']+"_button").attr('class', 'onglet');
   status.exo[status['current_code']] = editor.getValue();
   // on enlève '_button' au nom du bouton pour obtenir la partie du code à afficher
   status['current_code'] = this.id.slice(0, -7);
   if ((status['current_code'] == 'avant') || (status['current_code'] == 'apres'))
      status['langage'] = 'python';
   else status['langage'] = 'django';

   editor.setValue(status.exo[status['current_code']], -1);
   editor.getSession().setMode("ace/mode/"+ status['langage']);
   $( "#"+status['current_code']+"_button").attr('class', 'onglet-sel');
 });
});
</script>

<div class = 'dev_exos'>
  <div class = 'volet-editeur'>
    <div class="row">
      <div class="col-md-6">
        <div class="tab" role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Section 1</a></li>
            <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Section 2</a></li>
            <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">Section 3</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content tabs">
            <div role="tabpanel" class="tab-pane fade in active" id="Section1">
              <h3>Web Development</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a congue sem. Nulla eros nisl, commodo vel diam id, mollis sollicitudin ipsum. Donec non pellentesque justo. Suspendisse quis vestibulum magna, eu condimentum metus. Quisque molestie lobortis dictum. Maecenas et leo. </p>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Section2">
              <h3>Brand Building</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a congue sem. Nulla eros nisl, commodo vel diam id, mollis sollicitudin ipsum. Donec non pellentesque justo. Suspendisse quis vestibulum magna, eu condimentum metus. Quisque molestie lobortis dictum. Maecenas et leo. </p>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Section3">
              <h3>Clean & Clear Design</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a congue sem. Nulla eros nisl, commodo vel diam id, mollis sollicitudin ipsum. Donec non pellentesque justo. Suspendisse quis vestibulum magna, eu condimentum metus. Quisque molestie lobortis dictum. Maecenas et leo. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <iframe class='exo' id = 'frame_exo' src="{% url 'run_exo' pk=pk %}"></iframe>
</div>
 {% endblock %}
