{% load static %}

<html>
<head>
<title>PyWims</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!-- Font -->
<link href="//fonts.googleapis.com/css?family=Crete+Round&ampsubset=latin,latin-ext" rel="stylesheet" type="text/css">
<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/pywims_exos.css' %}">
<!-- Mathjax -->
<script type="text/x-mathjax-config">
MathJax.Ajax.config.path["Contrib"] = "https://github.com/mathjax/MathJax-third-party-extensions/tree/master/legacy/";

MathJax.Hub.Config({
    tex: {
        extensions: ["[Contrib]/forminput/forminput.js"]
    },
	tex2jax: {
		inlineMath: [ ['$','$'], ["\\(","\\)"] ],
		displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
		processEscapes: true,
	},
	menuSettings: { inTabOrder : false },
//	displayAlign : "left",
//	displayIndent : "2em"
});
</script>
<script type="text/javascript"
src="https://cdn.rawgit.com/mathjax/MathJax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<!-- JSXGRAPH -->
 <link rel="stylesheet" type="text/css" href="http://jsxgraph.uni-bayreuth.de/distrib/jsxgraph.css" />
 <script type="text/javascript" src="http://jsxgraph.uni-bayreuth.de/distrib/jsxgraphcore.js"></script>
<!-- end JSXGRAPH -->

	
<!--- jquery / jquery ui -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</head>
<body>
<!-- USELESS
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
-->
<!-- Bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>


<!-- DRAG-DROP script MOVE ELSEWHERE (TAG DEFINITION?) -->
	<script>
	function allowDrop(ev) {
	    ev.preventDefault();
	}
	function drag(ev) {
	    ev.dataTransfer.setData("text", ev.target.id);
	}
	function drop(ev, target) // target est l'id de la source du drop
	{
		ev.preventDefault();

		if (!ev.target.getAttribute("ondrop")) return false;
		// data est l'id de la cible du drop
		var data=ev.dataTransfer.getData("text");
		// Le drop
		document.getElementById(target).appendChild(document.getElementById(data));
		// Renseignement de la variable via un champ "input" caché, dont l'id est celle le la cible, préfacée par 'input_'
		//var input=document.getElementById('input_'+data);
		//if (target != undefined) input.value = target;
		//if (target == undefined) input.value = '';
		var input_ajax=document.getElementById('form_drg_' + data.substring(8));// on enlève le "display_" du nom 
		if (target != undefined) input_ajax.value = target;
		if (target == undefined) input_ajax.value = '';
	}
	</script>
<!-- end DRAG-DROP script -->


{% block contenu %}
{% endblock %}

</body>
</html>
