{% extends 'pywims_exos/layout_appli.html' %}

{% block contenu %}
<script>
$( document ).ready(function(){
	$( "#item-add-div" ).hide();

	$( "#plus_button" ).click(function() {
		$( "#item-add-div" ).toggle(function() {
			$( "#item-add" ).val('');
			$( "#item-add" ).focus();
		});
	});

	$( "#item-add" ).bind('keypress', function(e) {
		var code = e.keyCode || e.which;
		if (code == 13) { // touche enter : on enregistre le nouvel exo
			var title = $( this ).val()
			var status = {'requested_action':'new', 'title': title};
			console.log(status);
			$.ajax({
				type : "POST",
				url : "{% url 'liste_exos' %}",
				data: JSON.stringify(status, null, '\t'),
				contentType: 'application/json;charset=UTF-8',
				success: function(returned_status) {
					window.location.replace("{% url 'liste_exos' %}");
				}
			});
		}
		if (code == 27) { // touche escape : on annulle l'ajout d'exo
			$( "#item-add-div" ).toggle();
			$( "#item-add" ).val('');
		}
	});
});
</script>

<div class = 'titre'>
	<h1>Liste des exos PyWims</h1>
	<button id = 'plus_button' class="glyph"><span class="fa fa-plus"></span></button>
</div>

<div class="content container">
	<div class="row">
		<div class="col"  id = 'liste-exos'>
			{% for exo in exos %}
			<div class = 'item-liste'>
				<a href="{% url 'form_exo' pk=exo.pk %}" class="list-glyph">
					<span class="fa fa-bars"></span></a>
				<a href="{% url 'delete_exo' pk=exo.pk %}" class="list-glyph">
					<span class="fa fa-trash"></span></a>
				<a href="{% url 'dev_exo' pk=exo.pk %}" class="list-glyph">
					<span class="fa fa-pencil"></span></a>
				<div style = 'display:inline-block'>
					<a href="{% url 'run_exo' pk=exo.pk %}" class="list-title">
						<h1>{{ exo.title }}	</h1>
					</a>
					<p>{{ exo.author }}</p>
				</div>
			</div>
			{% endfor %}

			<div id='item-add-div' class = 'item-liste' display='none'>
				<a class="list-glyph"><span class="fa fa-bars"></span></a>
				<a class="list-glyph"><span class="fa fa-trash"></span></a>
				<a class="list-glyph"><span class="fa fa-pencil"></span></a>
				<div style = 'display:inline-block'>
					<input  id='item-add' class='item-liste'>
					<p> {{ request.user.username }} </p>
				</div>
			</div>

		</div>
	</div>
</div>
{% endblock %}
