/* Général */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


body {
  font-family: 'Crete Round', serif;
}

button.glyph:hover, button.dev-glyph:hover, button.dev-onglet:hover, a.list-glyph:hover {
	    color: Grey; /* Couleur des glyphs quand on passe dessus */
  }

/* le titre-bandeau en haut de page */
div.titre h1, div.titre h1 a, div.titre h1 a:visited, div.titre h1 a:active {
	color: #ffffff;
	font-size: 24pt;
	text-decoration: none;
}
div.titre {
	background-color: #ff9400;
	margin-top: 0;
    margin-bottom: 20px;
	padding: 10px 10px 10px 20px;
	display:flex;
	justify-content: space-between;
}

/* View Liste-exos */

.glyph, .glyph-visited, .dev-glyph,.dev-glyph:visited {
	background:inherit;
	border:none;
	color: #ffffff; /* ce sont des glyphs blancs */
	font-size: 20pt;
	margin-right: 20px;
	align-self:center;
}

div.item-liste{
	display:flex;
	margin-top: 10px;
}

div.item-liste h1, input.item-liste {
	font-size: 18pt;
	color: SteelBlue;
	margin: 0px;
}

.list-glyph, .list-glyph:hover, .list-glyph:visited,.list-title, .list-title:hover, .list-title:visited {
	color: #ff9400;
	float: left;
	font-size: 18pt;
	margin-right: 10px;
	align-self:flex-start;
}


/* View mode développement: conteneur des deux volets */

.dev_exos {
	background: #eee;
	display :flex;
	justify-content:center;
	flex-flow: row wrap;
	margin:0;
	border: none;
	height:100vh;
}

/* View mode développement : volet éditeur */

.dev-volet-editeur {/* OBSOLETE */
	flex:1.6;
	display:flex;
	flex-direction:column;
	align-items:stretch;
	height:100vh;
	min-width:300px;
	border-right: 4px solid Plum;
}

.dev-menu {/* OBSOLETE */
	display:flex;
 	background:Plum;
 	font-size: 12px;
	justify-content: space-between;
}

.editeur {/* OBSOLETE */
    height:100%;
	background: White;
    border-top:1px solid Black;
    border-right:1px solid Black;
}

button.dev-onglet, button.dev-onglet-sel {/* OBSOLETE */
	border:none;
	color: black;
	background:Plum;
	padding: 3px 5px;
	margin: 0px 0px 0px 10px;
	text-align: center;
	text-decoration: none;
  font-family: 'Crete Round', serif;
	font-size:11pt;
}

button.dev-onglet-sel {/* OBSOLETE */
  border-top:2px solid Black;
}

button.dev-titre, span.dev-titre { /* titre de l'exo */
  font-family: 'Crete Round', serif;
	font-size:14pt;
  border:none;
  color:white;
  white-space: pre; /* nécessaire pour pouvoir enter des espaces */
	background:inherit;
  padding: 3px 5px;
  margin: 0px 0px 10px 10px;
}

/* View mode développement : volet preview exo */

.exo {
  margin:0;
  border:none;
  padding:0;
  height:100vh;
  width:100%;
}

/* Les exos */

.form-enonce { /* l'exo lui-même */
  display: inline-block;
  margin-left: 2em;
	text-align:left;
  font-size: 12pt;
}
.validation-enonce {  /* le bandeau du bouton validation */
	font-size: 1em;
	padding: 0.3em;
	margin-top: 1em;
	background: WhiteSmoke;
	border-bottom: 1px solid LightGrey;
	text-align:right;
}

@keyframes growIn { 
    0% { 
        transform: scale(0.2) rotateX(0deg); 
        opacity:0;
    } 
    30% { 
        transform: scale(1.1) rotateX(0deg); 
    } 
    100% { 
        transform: scale(1) rotateX(0deg); 
        opacity:1;
    } 
} 


.feedback  {  /* le div qui contient le feedback après correction */
	font:  italic  bold 1em  Georgia,serif;
	margin:0;
	padding:0.5em;
	text-align:center;
	height:2em;
}

/* Les champs input */
/* Tout ce qui contient OK ou NotOK est OBSOLETE */
.input, .cible, .source, .drag-contenu, .cibleOK, .cibleNotOK {
	border : 2px solid Black;
	border-radius:8px;
	font-style: italic;
	font-size: 12pt;
	color:black;
	width: auto;
	z-index:10;
	}

.input_matrix {
	border : none;
	border-radius:4px;
	text-align: center;
	font-style: italic;
	font-size: 12pt;
	color:black;
	background-color: LightGrey;
	z-index:10;
}

.absolute{
    position: absolute;
}

.absolute_center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.phantom {
  opacity : 0;
  z-index: 0;
}

div.cible, div.source, div.cibleOk, div.cibleNotOk { /* les divs qui contiennent les champs drag-drop */
  display: inline-flex;
  border:none;
	width: 10em;
	height: auto;
	margin : 6px;
    vertical-align:top;
	justify-content: center;
	align-items: center;
}
div.cible  {
	background:AntiqueWhite;
}
div.cibleOk {
	background:LightGreen;
}
div.cibleNotOk  {
	background:LightPink;
}
div.source  {
	background:Burlywood;
}
.drag-contenu {
	display:flex;
    position:absolute;
	background:inherit;
	height:inherit;
	width:inherit;
	justify-content: center;
	align-items: center;
	text-align:center;
	font-size: 1em;
	overflow:hidden;
}

/* Menu développement bootstrap */
.editable-outer {
    position: relative;
    padding:7px 7px 7px 7px;
    background:inherit;
    width:250px;
    }

.editable-label {
    display: inline-block;
    font: inherit;
    margin: 0;
    white-space: pre;
    background:inherit;
    width:inherit;
    border:1px solid transparent;
    overflow: hidden;
    text-overflow: ellipsis;
   }

.editable-input {
    display: inline-block;
    font: inherit;
    margin: 0;
    white-space: pre;
    width:inherit;
    border:1px solid white;
    background:inherit;
    overflow: hidden;
    text-overflow: ellipsis;

}


.noborder {
    border:none;
}

div.dev-titre { /* titre de l'exo */
    display:inline-block;
    margin:5px;
    font-size:1.2em;
    color:white;
    white-space: pre; /* nécessaire pour pouvoir enter des espaces */
}

.edit-pane {
  height:100%;
}

.nav>li>a {
  font-size:10pt;
  padding:2px 8px 2px 8px;
  color:black;
}

/* style de table pour les matrices. Ca ajoute les parenthèses */

.matrix {
    position: relative;
    margin: 10px;
    display: inline-table;
    vertical-align: middle;
}
.matrix:before, .matrix:after {
    content: "";
    position: absolute;
    top: 0;
    border: 2px solid #000;
    width: 6px;
    height: 100%;
}
.matrix:before {
    left: -6px;
    border-right: 0;
}
.matrix:after {
    right: -6px;
    border-left: 0;
}



